body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.person {
  display: inline-block;
  background-color: lightblue;
  width: 200px;
  height: 200px;
  margin: 20px;
  border: solid black 3px;
  padding-top:40px;  
}
.person p {
  text-align: center;
}
.person h1 {
  text-align: center;
}